/*Definicion de variabless*/
:root {
    --primary-theme-color: #fff;
    --secondary-theme-color: #04B4E0;
    --primary-text-color: #fff;
    --secondary-text-color: #555;
    --prymary-shadow-color: green;
    --light-primary-shadow-color: gray;
    --primary-font-family: "Poppins";
    --background_primary_color: #F2F7F9;
    --color-transparent: transparent;
    --color-titles: #222222;
    --element-size: 16px;
}

/*Estructura General*/
html {
    font-size: 10px;
}

.body {
    width: 100%;
    height: 100%;
    font-family: "Poppins", Helvetica, sans-serif;
    font-size: 1.5rem;
    background-color: var(--background_primary_color);
    color: var(--secondary-text-color);

}


h1,
h2,
h3,
h4,
h4,
h6 {
    color: var(--color-titles);
}

/*Imagen de fondo*/
.body {
    background-image: url("../img/fondo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -20px -120px;

}

/*Estructura Principal*/

.layout {
    position: relative;
    min-width: 1290px;
    width: 75%;
    height: 80vh;
    min-height: 80vh;
    margin: 10vh auto;

    display: grid;
    grid-template-areas: "aside content";
    grid-template-columns: 30% 70%;

    border-radius: 4rem;
    box-shadow: 0 0 100px -5px rgba(0, 0, 0, 0.25);



}

/* Brrra latera de perfil ASIDE*/
.layout__aside {
    grid-area: aside;

    border-radius: 4rem 0 0 4rem;
    overflow: auto;
    overflow-x: hidden;
}

.aside__user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    min-height: 100%;

    background-color: var(--secondary-theme-color);
    color: var(--primary-text-color);
}

.user-info__container-image {
    position: relative;
    display: inline-block;
    height: 20rem;
    margin-top: 7rem;
    z-index: 1;

}

.user-info__image {
    width: 100%;
    background-color: var(--primary-theme-color);
    border: 3px solid var(--primary-theme-color);
    border-radius: 15rem;

}

.user-info__container-image::after {
    content: "";
    position: absolute;
    top: 5%;
    left: 9%;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: -webkit-repeating-radial-gradient(center center, #FFF, #FFF 1px, transparent 0px, transparent 100%);
    background-size: 0.6rem 0.6rem;
    border-radius: 28rem;
    opacity: 0.7;
    border-color: white;

}

.user-info__name {
    margin-top: 0.5em;
    font-size: 1.8em;
    font-weight: 200;
    color: var(--primary-theme-color);
}

.user-info__job {
    font-size: 1.5rem;
    font-weight: 200;
    color: var(--primary-theme-color);
}

.layout__menu {
    display: none;
}

.user-info__links {
    margin-bottom: 2.5em;
}

.links__social {
    margin-top: 1em;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.social__option {
    height: 1.5m;
    width: 1.5em;
    font-size: 1.5em;
    line-height: 3rem;
    opacity: 0.9;
    border-radius: 2em;
    transition: all 300ms linear;

}

.social__option:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.25);
}



layout__content {
    grid-area: content;
    border: magenta;
}